body{
    background-color: red;
    text-align: center;

}
div{
    background-color: white; 
    border: 10px ridge black;
    border-dotted: 100px;
    width: 500px ;
    margin-left: 375px ;

}